<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid pt-md-4 mt-3 mb-2 mt-sm-0 mb-md-0">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="text-center d-lg-block d-none"> Redimiendo mis compras</h2>
          <h4 class="text-center d-lg-none d-block"> Redimiendo mis compras</h4>
          <br>
          <form id="loginForm" name="loginForm" (ngSubmit)="register()" #registerForm="ngForm">
            <div class="form-group">
              <label for="name">Nombre(s):<span class="text-danger">*</span> </label>
              <input type="text" [(ngModel)]="user.name" #name="ngModel" name="name" id="name"
                     class="form-control" placeholder="Jonathan G..." required="" autofocus>
            </div>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="name.invalid && (name.dirty || name.touched)">
              Campo requerido
            </ngb-alert>
            <div class="form-group">
              <label for="lastname">Apellido(s):<span class="text-danger">*</span> </label>
              <input type="text" [(ngModel)]="user.lastname" name="lastname" id="lastname"
                     class="form-control" placeholder="Gonzalo P..." required="" #lastname="ngModel">
            </div>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
              Campo requerido
            </ngb-alert>
            <div class="form-group">
              <label for="username">Nombre de Usuario:<span class="text-danger">*</span> </label>
              <input type="text" [(ngModel)]="user.username" name="username" id="username"
                     class="form-control" placeholder="Usuario" required="" #username="ngModel"
                     (ngModelChange)="usernameTaken = false">
            </div>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="username.invalid && (username.dirty || username.touched)">
              Campo requerido
            </ngb-alert>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="usernameTaken">
              Ya existe una cuenta con ese nombre de usuario
            </ngb-alert>
            <div class="form-group">
              <label for="password">Contraseña:<span class="text-danger">*</span> </label>
              <input type="password"  [(ngModel)]="user.password" name="password" id="password"
                     class="form-control" placeholder="******" [minlength]="8" required=""
                     #password="ngModel">
            </div>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="password.invalid && (password.dirty || password.touched)">
              <span *ngIf="password.errors.required">Campo requerido</span>
              <span *ngIf="password.errors.minlength">Campo debe tener ser de al menos 8 characteres</span>
            </ngb-alert>
            <div class="form-group">
              <label for="passwordConfirmation">Confirmar contraseña:<span class="text-danger">*</span> </label>
              <input type="password"  [(ngModel)]="user.passwordConfirmation" name="passwordConfirmation"
                     id="passwordConfirmation" class="form-control" placeholder="******" required=""
                     [minlength]="8" #passwordConfirmation="ngModel">
            </div>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="passwordConfirmation.invalid &&
                     (passwordConfirmation.dirty || passwordConfirmation.touched) &&
                     passwordConfirmation.errors.required">
              <span>Campo requerido</span>
            </ngb-alert>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="user.passwordConfirmation != user.password &&
                     (passwordConfirmation.dirty || passwordConfirmation.touched)">
              <span >Debe coincidir con contraseña</span>
            </ngb-alert>
            <div class="form-group">
              <label for="phoneNumber">Telefono:<span class="text-danger">*</span> </label>
              <input type="text"  [(ngModel)]="user.phoneNumber" name="phoneNumber"
                     id="phoneNumber" class="form-control" [textMask]="{ mask: phoneMask}" placeholder="999-777-4012"
                     required="" #phoneNumber="ngModel" (ngModelChange)="phoneTaken = false">
            </div>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
              Campo requerido
            </ngb-alert>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="phoneTaken">
              Ya existe una cuenta con ese numero telefonico
            </ngb-alert>
            <div class="form-group">
              <label for="birthday">Fecha de nacimiento:<span class="text-danger">*</span> </label>
              <input type="text"  [(ngModel)]="user.birthday" name="birthday" id="birthday"
                     class="form-control" placeholder="31-12-2000" [textMask]="{ mask: birthdayMask}" required=""
                     #birthday="ngModel" (ngModelChange)="validateBirthday()">
            </div>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)">
              Campo requerido
            </ngb-alert>
            <ngb-alert [dismissible]="false" [type]="'danger'"
                       *ngIf="birthdayInvalid">
              Fecha invalida
            </ngb-alert>
            <div class="form-check form-group">
              <input type="checkbox" [(ngModel)]="user.termsAndConditions" name="termsAndConditions"
                     id="termsAndConditions" class="form-check-input" required="">
              <label class="form-check-label" for="termsAndConditions"> Acepto los
                <a target="_blank" routerLink="/terms_and_conditions">Terminos y Condiciones</a>
                <span class="text-danger">*</span>
              </label>
            </div>
            <div class="form-check form-group">
              <input type="checkbox" [(ngModel)]="user.privacyNotice" name="privacyNotice"
                     id="privacyNotice" class="form-check-input" required="">
              <label class="form-check-label" for="privacyNotice">He leido el
                <a routerLink="/privacy_notice" target="_blank">Aviso de Privacidad</a>
                <span class="text-danger">*</span></label>
            </div>
            <small><span class="text-danger">*</span> Indica campos requieridos</small>
            <button type="submit" [disabled]="loading || registerForm.form.invalid"
                    class="btn btn-primary btn-block ld-over-inverse" [ngClass]="{ 'running': loading }">
              Registrar
              <div class="ld ld-spin ld-ring"></div>
            </button>
            <button type="button" [disabled]="loading" routerLink="/login" class="btn btn-info btn-block">
              Regresar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
