<app-navbar></app-navbar>
<div style="height: 96px" class="d-none d-lg-block"></div>
<div style="height: 72px" class="d-block d-lg-none"></div>
<div class="col-md-8 offset-md-2 mt-3">
  <div class="card">
    <h5 class="card-header d-none d-sm-block">
      Tickets de compra
      <a class="btn btn-primary float-right" (click)="openRegistrationForm()">
        Registrar compra
      </a>
    </h5>
    <h5 class="card-header d-block d-sm-none text-center">
      Tickets de compra<br>
      <a class="btn btn-primary btn-block float-right mt-2" (click)="openRegistrationForm()">
        Registrar compra
      </a>
    </h5>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row pb-2">
          <div class="col-md-5 col-sm-4">
            <div class="form-inline">
              <div class="row">
                <label for="size" class="pr-2 pb-md-2 pt-1 col-9">Elementos a mostrar: </label>
                <select name="size" id="size" class="form-control col-3" [(ngModel)]="paginationRequest.size"
                        (ngModelChange)="loadPurchaseTickets()">
                  <option *ngFor="let size of sizeOptions" [value]="size">{{size}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 col-sm-8 offset-md-1 offset-lg-2">
            <div class="form-inline">
              <div class="row text-center text-md-right">
                <label for="filter" class="col-md-5 col-sm-4">Buscar: </label>
                <input type="text" id="filter" [(ngModel)]="paginationRequest.filter" (ngModelChange)="loadPurchaseTickets()"
                       name="filter" placeholder="Soriana"
                       class="form-control col-md-7 col-sm-8">
              </div>
            </div>
          </div>
        </div>
      </div>
      <table class="row-border hover table table-striped text-center">
        <thead>
        <tr>
          <th>Tienda</th>
          <th>Monto</th>
          <th>Operaciones</th>
        </tr>
        </thead>
        <tbody *ngIf="paginationPurchaseTickets != undefined" >
        <tr *ngFor="let purchaseTicket of paginationPurchaseTickets.elements">
          <td>{{ purchaseTicket.store }}</td>
          <td>{{ purchaseTicket.totalAmount | currency }}</td>
          <td>
            <button class="btn btn-outline-primary" (click)="showVoucher(voucher, purchaseTicket.id)">
              <span class="d-sm-block d-none">Ver comprobante</span>
              <span class="d-sm-none d-block">Ver</span>
            </button>
          </td>
        </tr>
        <tr *ngIf="paginationPurchaseTickets.elements.length == 0">
          <td class="text-center" colspan="3">No has registrado ningun ticket de compra.</td>
        </tr>
        </tbody>
      </table>
      <div class="container-fluid">
        <div class="row" *ngIf="paginationPurchaseTickets != undefined && paginationPurchaseTickets.elements.length != 0">
          <div class="col-md-4 col-sm-5">
            <small>
              Encontrados {{ paginationPurchaseTickets.totalFilteredElements }} de {{ paginationPurchaseTickets.totalElements }} elementos.
              <br>
              Pagina {{paginationPurchaseTickets.currentPage + 1}} de {{ paginationPurchaseTickets.totalPages}}.
            </small>
          </div>
          <div class="col-md-8 col-sm-6 offset-sm-1 ml-md-0 mt-1 mt-sm-0 text-center text-sm-right">
            <button class="btn btn-outline-primary mr-1" (click)="loadPreviousList()"
                    [disabled]="paginationRequest.page == 0">Anterior</button>
            <select class="btn btn-outline-primary" [(ngModel)]="paginationRequest.page"
                    (ngModelChange)="loadPurchaseTickets()">
              <option *ngFor="let page of pages" [value]="page - 1">{{page}}</option>
            </select>
            <button class="btn btn-outline-primary ml-1" (click)="loadNextList()"
                    [disabled]="paginationRequest.page == paginationPurchaseTickets.totalPages - 1">Anterior</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #voucher let-modal>
      <div class="modal-body">
        <img-authorize [src]="this.voucherOwnerId" class="img-fluid" alt="voucher" *ngIf="paginationPurchaseTickets != undefined"></img-authorize>
      </div>
    </ng-template>
  </div>
</div>
