<div class="modal-header">
  <h4 class="modal-title">Registrar ticket de compra</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="purchaseTicketForm" name="purchaseTicketForm" #purchaseTicketForm="ngForm">
    <div class="form-group">
      <label for="store">Tienda:<span class="text-danger">*</span></label>
      <input type="text" name="store" id="store" class="form-control" #store="ngModel"
             required="" [(ngModel)]="purchaseTicket.store" placeholder="Soriana">
    </div>
    <ngb-alert [dismissible]="false" [type]="'danger'"
               *ngIf="store.invalid && (store.dirty || store.touched)">
      Campo requerido
    </ngb-alert>
    <div class="form-group">
      <label for="totalAmount">Monto:<span class="text-danger">*</span></label>
      <input type="text" name="totalAmount" id="totalAmount" class="form-control" #totalAmount="ngModel"
             required="" [(ngModel)]="purchaseTicket.totalAmount" [textMask]="{ mask: currencyMask}" placeholder="$12.00">
    </div>
    <ngb-alert [dismissible]="false" [type]="'danger'"
               *ngIf="totalAmount.invalid && (totalAmount.dirty || totalAmount.touched)">
      Campo requerido
    </ngb-alert>
    <div class="form-group">
      <label for="voucher">Comprobante:<span class="text-danger">*</span></label>
      <input type="file" name="voucher" id="voucher" class="form-control" #voucher="ngModel"
             required="" [(ngModel)]="purchaseTicket.voucher" (change)="pickFile($event)" accept="image/*">
    </div>
    <ngb-alert [dismissible]="false" [type]="'danger'"
               *ngIf="voucher.invalid && (voucher.dirty || voucher.touched)">
      Campo requerido
    </ngb-alert>
    <small><span class="text-danger">*</span> Indica campos requieridos</small>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
  <button type="button" class="btn btn-primary ld-over-inverse" [disabled]="loading || purchaseTicketForm.form.invalid"
          (click)="save()" [ngClass]="{ 'running': loading }">
    Registrar
    <div class="ld ld-spin ld-ring"></div>
  </button>
</div>
