<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="col-md-10 offset-md-1">
        <h2 class="text-center d-lg-block d-none"> Redimiendo mis compras</h2>
        <h4 class="text-center d-lg-none d-block"> Redimiendo mis compras</h4>
        <br>
        <form id="loginForm" name="loginForm" (ngSubmit)="login()" #loginForm="ngForm">
          <div class="form-group">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" [(ngModel)]="user.username" name="username" id="username" class="form-control" placeholder="Usuario" required="" autofocus>
          </div>
          <div class="form-group">
            <label for="password">Contraseña: </label>
            <input type="password"  [(ngModel)]="user.password" name="password" id="password" class="form-control" placeholder="******" required="">
          </div>
          <div class="form-check pb-1">
            <input class="form-check-input" type="checkbox" value="" id="isPersisted" name="isPersisted" [(ngModel)]="isPersisted">
            <label class="form-check-label" for="isPersisted">¿Mantener sesión abierta?</label>
          </div>
          <ngb-alert [dismissible]="false" [type]="'danger'" *ngIf="errorMessage">
            {{errorMessage}}
          </ngb-alert>
          <button type="submit" [disabled]="loading || loginForm.form.invalid" class="btn btn-primary btn-block ld-over-inverse" [ngClass]="{ 'running': loading }">
            Iniciar sesión
            <div class="ld ld-spin ld-ring"></div>
          </button>
          <button type="button" [disabled]="loading" routerLink="/registration" class="btn btn-info btn-block">
            Registration
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
