.container-fluid{
  display: block;
  position: absolute;
  top: calc(50% - 327px);
}

.container-fluid .col-md-6{
  border-radius: 10px;
  padding: 40px 0;
}

#main-logo{
  height: 323px;
  width: auto;
  padding: auto;
  margin: auto;
}
