/* You can add global styles to this file, and also import other style files */
body, html{
  height: 100%;
  width: 100%;
}

app-root{
  margin: auto;
  height: 100%;
  width: 100%;
}

/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}
/* Removes spinner for input ype text in Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes spinner for input ype text in Firefox */
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
